{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Taiyyab's Site + tech blog
</h1>
<p dir="rtl" lang="ar" class="arabic">
    السلام عليكم و رحمة الله و بركاته
</p>
<p>(May God's Peace and Blessings be upon you)</p>
<p> Welcome to my website, I'm an engineer who likes working on things that make me smarter and with people who make me better. I hope you find some benefit in my blog posts.</p>
<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>.</p>
{% endblock content %}